body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
}
@font-face {
    font-family: dead;
    src: url(./new.zip);
}
html {
    width: 100%;
    height: 100%;
    background-color: black;
}
.cabecario {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    height: 78px;
    align-items: center;
    justify-content: space-between;
}

.cabecario img {
    width: 350px;
    margin-inline: 30px;
}
.titulo img{
    width: 10%;
    height: 100%;
}
.titulo{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.titulo h1{
    color: white;
    font-family: dead;
    margin: 5px;
}
.titulo p{
    color: white;
    font-family: dead;
    width: 40%;
    text-align: center;
    padding-bottom: 15px;
}
.menu {
    display: flex;
    align-items: center;
}
.menu li {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}
.honra{
    display: flex;
    justify-content: space-around;
}
.honra img {
    border: 2px solid rgb(252, 251, 248); 
    border-radius: 10px;
    padding: 5px; 
    height: 540px;
}
.p1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p1 p{
    color: white;
    width: 40%;
    display: flex;
    text-align: center;
    font-family: dead;
    padding-bottom: 30px;
}
.p1 h2{
    color: white;
    font-family: dead;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding-top: 40px;
}
.tit {
    display: flex;
    justify-content: flex-start; margin: 10px;padding-top: 15px;
}
.tit li{
    color: rgb(37, 175, 37);
    font-family: dead;
    padding-left: 25px;
    
}
.tit h3{
    color: rgb(17, 196, 17);
    font-family: dead;
    margin: 0px;
    padding-bottom: 23px;
    padding-left: 25px;
}
.tit img{
    width: 40%;
    height: 100%;
}
.toi img{
    width: 40%;
    height: 100%;
}
.toi {
    display: flex;
    justify-content: flex-start; margin: 10px;padding-top: 15px;
    padding-bottom: 15px
}
.toi li{
    color: rgb(192, 16, 10);
    font-family: dead;
    padding-left: 25px;

}
.toi h3{
    color: rgb(218, 30, 30);
    font-family: dead;
    margin: 0px;
    padding-bottom: 23px;
    padding-left: 25px;
}
.imagens {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding-bottom: 60px;
}
h4{
    color: white;
    font-family: dead;
    justify-content: center;
    display: flex;
    font-size: xx-large;
}

.imagens img {
    width: 100%;
    height: 93%;
}
.imagens p{
    padding-left: 80px;
}
a{
    text-decoration: none;
}
.texto{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    font-family: dead;
    width: 75%;
}

.fin{
    display: flex;
    font-family: dead;
    justify-content: center;
    align-items: center;
}
.fin p{
    color: white;
    font-family: dead;
    width: 41%;
}
.final h2{
    color: white;
    font-family: dead;
    display: flex;
    justify-content: center;
}
.textfinal p{
color: white;
width: 60%;
font-family: dead;
text-align: center;

}
.fin img{
    width: 40%;
    height: 100%;
}
.menu li a {
    color: white;
    display: block;
    padding: 10px;
}

.menu li img {
    width: 100px;
    margin-inline-end: 20px;
}
.menu img {
    margin: 0;
    width: 90px;
}