body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
}
@font-face {
    font-family: dead;
    src: url(./new.zip);
}
html {
    width: 100%;
    height: 100%;
    background-color: black;
}
.cabecario {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    height: 78px;
    align-items: center;
    justify-content: space-between;
}
.b1{
    display: flex;
    justify-content: center;
}
.bar{
    width: 40%;
    border: 2px solid white;
    border-radius: 10px;
}
.cabecario img {
    width: 350px;
    margin-inline: 30px;
}
.menu {
    display: flex;
    align-items: center;
}
.menu li {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

a{
    text-decoration: none;
}

.menu li a {
    color: white;
    display: block;
    padding: 10px;
}

.menu li img {
    width: 100px;
    margin-inline-end: 20px;
}
.menu img {
    margin: 0;
    width: 90px;
}

.ini{
    display: flex;
    justify-content: center;
}
.ini img{
    width: 16%;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    font-family: dead;
}
h2{
    display: flex;
    justify-content: center;
    color: white;
    font-family: dead;
}
.lista li{
    display: flex;
    justify-content: center;
    color: white;
    font-family: dead;
}
.final{
    padding-top: 110px;
}
.fa{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.fi{
    width: 56%;
    border: 2px solid white;
    border-radius: 10px;
}