body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
}
@font-face {
    font-family: dead;
    src: url(./new.zip);
}
html {
    width: 100%;
    height: 100%;
    background-color: black;
}
.cabecario {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    height: 78px;
    align-items: center;
    justify-content: space-between;
}

.cabecario img {
    width: 350px;
    margin-inline: 30px;
}
.menu {
    display: flex;
    align-items: center;
}
.menu li {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}
a{
    text-decoration: none;
}
.menu li a {
    color: white;
    display: block;
    padding: 10px;
}
.menu li img {
    width: 100px;
    margin-inline-end: 20px;
}
.menu img {
    margin: 0;
    width: 90px;
}
h1{
    font-family: dead;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0%;
    margin-bottom: 15px;
    font-size: 250%;
}
.ini{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.ini img{
    width: 750px;
    padding-bottom: 10px;
}
.ini p{
    font-family: dead;
    color: white;
    width: 80%;
    font-size: x-large ;
}
.red{
    display: flex;
    justify-content: center;
}
.red img{
    width: 40%;
}
h2{
    display: flex;
    justify-content: center;
    color: red;
    font-family: dead;
    margin: 0%;
    margin-bottom: 10px;
}